.board-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.board-title {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.board-container .coin {
  width: 1.5rem;
  height: fit-content;
}

.board-container .home-logo {
  height: 70px;
}

.board-products {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
